{{> header}}
    {{!-- <div class="home">
        <div class="cards row row-cols-1 row-cols-lg-3 row-cols-md-2 row-cols-sm-1 g-4">
            {{#each posts}}
            {{#ifEquals posts.length 0}}
                <h2>No data to show. Post some images please</h2>
            {{else}}
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="{{ this.image }}" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">{{ this.title }}</h5>
                        <p class="card-text">{{ this.description }}</p>
                        <a href="/{{ this.id }}/view" class="btn btn-primary">More</a>
                        </div>
                    </div>
                </div>
            {{/ifEquals}}
            {{/each}}
        </div>

    </div> --}}
    <div class="home-bg">
        <img src="/images/home.jfif" alt="">
        <div class="home-text">
            <h1>Term Project</h1>
            <p>
                You can view your post here
            </p>
        </div>
    </div>
    <div class="home">
        <div class="home-content">
            <div class="cards row row-cols-1 row-cols-lg-3 row-cols-md-2 row-cols-sm-1 g-4">
            {{#each posts}}
            {{#ifEquals posts.length 0}}
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-emoji-frown" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M4.285 12.433a.5.5 0 0 0 .683-.183A3.498 3.498 0 0 1 8 10.5c1.295 0 2.426.703 3.032 1.75a.5.5 0 0 0 .866-.5A4.498 4.498 0 0 0 8 9.5a4.5 4.5 0 0 0-3.898 2.25.5.5 0 0 0 .183.683zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z"/>
                </svg>
                <p>No data to show. Post some images please</p>
            {{else}}
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="{{ this.image }}" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">{{ this.title }}</h5>
                        <p class="card-text">{{ this.description }}</p>
                        <a href="/{{ this.id }}/view" class="btn btn-primary">More</a>
                        </div>
                    </div>
                </div>
            {{/ifEquals}}
            {{/each}}
        </div>
            {{!-- <p>No post found</p> --}}
    </div>
    </div>
    

{{> footer}}