{{> header}}
<div class="home-bg">
    <img src="/images/postinner.jpg" alt="">
    <div class="home-text">
        <h1>{{ post.title }}</h1>
    </div>
</div>
<div class="home">
        <div class="blog-post" id="postId" data-id="{{ post.id }}">
            <img src="{{ post.image }}" alt="">
            <div class="title">
                <p>
                    {{ post.description }}
                </p>
            </div>
            {{#if auth}}
                <input type="text" name="comment" id="comment" placeholder="Write a comment as {{ authuser.username }}">
                <button type="submit" id="commentBtn">Comment</button>
            {{/if}}
        </div>
        <!-- cmnt -->
        {{#each post.comments}}
            <div class="comment-section">
                <div class="cmnt-img">
                    <img src="/images/default.png" alt="">
                </div>
                <div class="cmnt">
                    <a href="#">{{ this.username }}</a>
                    <span>
                        {{ this.comment }}
                    </span>
                </div>
            </div>
        {{/each}}
    </div>
    {{> footer}}